<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/stylePricing.css">
    <link rel="stylesheet" type="text/css" href="/css/styleOffers.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <!-- <link rel="stylesheet" type="text/css" href="/carousel.css"> -->

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oferte</title>
    <script src="https://kit.fontawesome.com/08626bfbba.js" crossorigin="anonymous"></script>
</head>

<body>
<div>
    <header class=menu>
        <div class="menu-toggle" id="hamburger">
            <i class="fas fa-bars"></i>
        </div>
        <div class="overlay">

        </div>
        <div class="container">
            <nav>
                <div>
                    <h1 class="brand"><a href="#">Everyday</a></h1>
                    <br>
                    <h1 class="brand2"><a href="#"><span>Shisha</span></a></h1>
                </div>

                <ul>
                    <li><a href="/">Acasa</a></li>
                    <li><a href="/offers">Oferte</a></li>
                    <li><a href="/gallery">Galerie</a></li>
                    <li><a href="/about">Despre</a></li>
                </ul>
            </nav>
        </div>

    </header>
    <video src="/content/shishavideo.mp4" muted loop autoplay></video>

</div>
<div id="cacat" class="showcase">
    <div class="text">
        <h2>narghileaua</h2>
        <h2>preferata</h2>
        <h3>chiar la tine acasa</h3>
        <p>Comanda acum si venim in maxim 60 de minute!</p>
        <a id="myLink">Inchiriaza</a>
        <script>
            (function () {
                var link = document.getElementById("myLink");

                function checkWidth() {
                    var width = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth,
                        newHref;
                    if (width < 640) {
                        newHref = "tel:0726261174";
                    } else if (width < 854) {
                        newHref = "tel:0726261174";
                    } else {
                        newHref = "https://wa.me/40726261174";
                    }
                    link.href = newHref;
                }

                link.onclick = checkWidth;
                checkWidth();
            })();
        </script>
    </div>
</div>


<ul class="social" style="display: none;">

    <li><a id="hide_instagram" href="https://www.instagram.com/everyday.shisha.delivery/"><img
            src="/content/instagramicon.png"></a></li>
    <li><a id="hide_whatsapp" href="https://wa.me/40726261174"><img src="/content/whatsappicon.png"></a></li>
    <li><a id="hide_phone" href="tel:0726261174"><img src="/content/phoneicon.png"></a></li>

</ul>



<div id="hide_pricings" class="container">
    <h5 class="text-center pricing-table-subtitle">Everyday Shisha</h5>
    <h1 class="text-center pricing-table-title">Oferte</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card pricing-card pricing-plan-basic">
                <div class="card-body">
                    <i class="mdi mdi-cube-outline pricing-plan-icon"></i>
                    <p class="pricing-plan-title">Newbie smokah'</p>
                    <h3 class="pricing-plan-cost ml-auto">60 lei</h3>
                    <ul class="pricing-plan-features">
                        <li>&#x2713; &nbsp; 1 narghilea Everyday Shisha</li>
                        <li>&#x2713; &nbsp; 2 aroma la alegere</li>
                        <li>&#x2713; &nbsp; 9 carbuni din coaja de nuca de cocos </li>
                    </ul>
                    <a href="tel:0726261174" id="myLink1" class="btn pricing-plan-purchase-btn">Inchirieaza</a>
                    <script>
                        (function(){
                            var link = document.getElementById("myLink1");
                            function checkWidth() {
                                var width = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth,
                                    newHref;
                                if (width<640) {
                                    newHref="tel:0726261174";
                                } else if (width<854) {
                                    newHref="tel:0726261174";
                                } else {
                                    newHref="https://wa.me/40726261174";
                                }
                                link.href=newHref;
                            }
                            link.onclick = checkWidth;
                            checkWidth();
                        })();
                    </script>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card pricing-card pricing-card-highlighted  pricing-plan-pro">
                <div class="card-body">
                    <i class="mdi mdi-trophy pricing-plan-icon"></i>
                    <p class="pricing-plan-title">Double trouble $hi$ha</p>
                    <h3 class="pricing-plan-cost ml-auto">110 lei</h3>
                    <ul class="pricing-plan-features">
                        <li>&#x2713; &nbsp; 2 narghilele Everyday Shisha</li>
                        <li>&#x2713; &nbsp; 4 aroma la alegere + 1 aroma din partea casei</li>
                        <li>&#x2713; &nbsp; 18 carbuni din coaja de nuca de cocos </li>
                    </ul>
                    <a href="tel:0726261174" id="myLink2" class="btn pricing-plan-purchase-btn">Inchirieaza</a>
                    <script>
                        (function(){
                            var link = document.getElementById("myLink2");
                            function checkWidth() {
                                var width = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth,
                                    newHref;
                                if (width<640) {
                                    newHref="tel:0726261174";
                                } else if (width<854) {
                                    newHref="tel:0726261174";
                                } else {
                                    newHref="https://wa.me/40726261174";
                                }
                                link.href=newHref;
                            }
                            link.onclick = checkWidth;
                            checkWidth();
                        })();
                    </script>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card pricing-card pricing-plan-enterprise">
                <div class="card-body">
                    <i class="mdi mdi-wallet-giftcard pricing-plan-icon"></i>
                    <p class="pricing-plan-title">Shisha king</p>
                    <h3 class="pricing-plan-cost ml-auto">160 lei</h3>
                    <ul class="pricing-plan-features">
                        <li>&#x2713; &nbsp; 3 narghilele Everyday Shisha</li>
                        <li>&#x2713; &nbsp; 6 aroma la alegere + 2 arome din partea casei</li>
                        <li>&#x2713; &nbsp; 27 carbuni din coaja de nuca de cocos</li>
                    </ul>
                    <a href="tel:0726261174" id="myLink3" class="btn pricing-plan-purchase-btn">Inchirieaza</a>
                    <script>
                        (function(){
                            var link = document.getElementById("myLink3");
                            function checkWidth() {
                                var width = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth,
                                    newHref;
                                if (width<640) {
                                    newHref="tel:0726261174";
                                } else if (width<854) {
                                    newHref="tel:0726261174";
                                } else {
                                    newHref="https://wa.me/40726261174";
                                }
                                link.href=newHref;
                            }
                            link.onclick = checkWidth;
                            checkWidth();
                        })();
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="hide_content" class="container marketing" style="max-width: 1140px;">
    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">

            <h2 class="featurette-heading">Narghileaua ta preferata.<span
                    class="text-muted">&nbsp;Cea mai inalta calitate</span></h2>
            <br>
            <p class="lead">Everyday Shisha prepara și personalizează fiecare narghilea pe care o livrează. Tot ce
                trebuie sa faci este sa alegi mărimea narghilelei, cele doua arome și locația unde te afli iar noi ne
                ocupam de restul. Site-ul nostru iti oferă acces rapid și eficient la toate ofertele noastre, fara sa
                fii nevoit sa ieși din casa. Alege-ti narghileaua acum!</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500"
                 style="width: 750px; height: 400px;"
                 src="/content/offers/multiple_shishas.png"
                 data-holder-rendered="true">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Carbunii chiar conteaza? <span class="text-muted">Absolut!</span>
            </h2>
            <br>
            <p class="lead">Noi folosim cărbuni de cea mai buna calitate, obținuți din coaja de nuca de cocos. Aceștia
                prezintă o ardere îndelungată (pana la o ora și jumătate), fără gust sau miros neplacut, reușind astfel
                sa intensifice plăcerea de a fuma o narghilea de calitate.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500"
                 src="/content/offers/hot_coal_2.png"
                 data-holder-rendered="true" style="width: 750px; height: 400px;">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Arome de toate tipurile!</h2>
            <br>
            <p class="lead">Everyday Shisha folosește o gama variata de arome, reușind astfel sa satisfacem toate
                preferințele clienților. De la arome cu tutun și nicotina, pana la arome 100% naturale, noi acoperim
                toate gusturile posibile: arome mentolate, fructate, chiar și combinații personalizate.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500"
                 src="/content/offers/flavour_photo.png"
                 data-holder-rendered="true" style="width: 750px; height: 400px;">
        </div>
    </div>

    <hr class="featurette-divider">

</div>


<footer id="hide_footer">
    <div class="footer-bottom">
        <p>Copyright &copy; 2020 Everyday Shisha. All Rights Reserved</p>
    </div>
</footer>

<script src="/js/hamburgerToggleOffers.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>