<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/styleOffers.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <!-- <link rel="stylesheet" type="text/css" href="/carousel.css"> -->

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oferte</title>
    <script src="https://kit.fontawesome.com/08626bfbba.js" crossorigin="anonymous"></script>
</head>

<body>
<div>
    <header class=menu>
        <div class="menu-toggle" id="hamburger">
            <i class="fas fa-bars"></i>
        </div>
        <div class="overlay">

        </div>
        <div class="container">
            <nav>
                <div>
                    <h1 class="brand"><a href="#">Everyday</a></h1>
                    <br>
                    <h1 class="brand2"><a href="#"><span>Shisha</span></a></h1>
                </div>

                <ul>
                    <li><a href="/">Acasa</a></li>
                    <li><a href="/offers">Oferte</a></li>
                    <li><a href="/gallery">Galerie</a></li>
                    <li><a href="/about">Despre</a></li>
                </ul>
            </nav>
        </div>

    </header>
    <video src="/content/shishavideo.mp4" muted loop autoplay></video>

</div>
<div id="cacat" class="showcase">
    <div class="text">
        <h2>narghileaua</h2>
        <h2>preferata</h2>
        <h3>chiar la tine acasa</h3>
        <p>Comanda acum si venim in maxim 60 de minute!</p>
        <a href="#">Inchiriaza</a>
        <script>
            (function(){
                var link = document.getElementById("myLink");
                function checkWidth() {
                    var width = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth,
                        newHref;
                    if (width<640) {
                        newHref="tel:0726261174";
                    } else if (width<854) {
                        newHref="tel:0726261174";
                    } else {
                        newHref="/offers";
                    }
                    link.href=newHref;
                }
                link.onclick = checkWidth;
                checkWidth();
            })();
        </script>
    </div>
</div>


<ul class="social" style="display: none;">

    <li><a id="hide_instagram" href="https://www.instagram.com/everyday.shisha.delivery/"><img src="/content/instagramicon.png"></a></li>
    <li><a id="hide_whatsapp" href="https://wa.me/40726261174"><img src="/content/whatsappicon.png"></a></li>
    <li><a id="hide_phone" href="tel:0726261174"><img src="/content/phoneicon.png"></a></li>

</ul>


<div id="hide_content" class="container marketing" style="max-width: 1140px;">
    <div class="row">
        <div class="col-lg-4">
            <img class="rounded-circle"
                 src="/content/offers/testimonial_photo_1.jpg"
                 alt="Generic placeholder image" width="140" height="140">
            <h2>Heading</h2>
            <p>Experiența cu Everyday Shisha a fost foarte plăcută. Site ul de unde am comandat este foarte intuitiv și
                usor de folosit ceea ce a contribuit la eficientă plasării comenzii.
                Timpul livrării a fost respectat, aproximativ 30 de minute.
                Recomand Everyday Shisha pentru toți oamenii care prefera sa fumeze o narghilea buna acasa.</p>
        </div>
        <div class="col-lg-4">
            <img class="rounded-circle"
                 src="/content/offers/testimonial_photo_2.jpg"
                 alt="Generic placeholder image" width="140" height="140">
            <h2>Heading</h2>
            <p>Am fost plăcut impresionat de diversitatea de arome și oferte pe care le am întâlnit pe site. Este un
                conceput interesant și serviciul este bine pus la punct. Narghileaua este de calitate ceea ce a adus un
                plus valoare atunci când am fumat cu prietenii mei.</p>
        </div>
        <div class="col-lg-4">
            <img class="rounded-circle"
                 src="/content/offers/testimonial_photo_3.jpg"
                 alt="Generic placeholder image" width="140" height="140">
            <h2>Heading</h2>
            <p>Raportul calitate-preț este foarte bun. Nu am întâmpinat neplăceri cu narghileaua. Aromele au fost de
                calitate deoarece au avut miros și gust pregnant. Site ul de unde am comandat a fost usor de folosit și
                ofertele foarte avantajoase.</p>
        </div>
    </div>


    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">First featurette heading. <span
                    class="text-muted">It'll blow your mind.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
                semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
                commodo.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500"
                 style="width: 750px; height: 400px;"
                 src="/content/offers/multiple_shishas.jpg"
                 data-holder-rendered="true">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span>
            </h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
                semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
                commodo.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500"
                 src="/content/offers/hot_coal_2.jpg"
                 data-holder-rendered="true" style="width: 750px; height: 400px;">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
                semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
                commodo.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500"
                 src="/content/offers/flavour_photo.jpg"
                 data-holder-rendered="true" style="width: 750px; height: 400px;">
        </div>
    </div>

    <hr class="featurette-divider">

</div>


<footer id="hide_footer">
    <div class="footer-bottom">
        <p>Copyright &copy; 2020 Everyday Shisha. All Rights Reserved</p>
    </div>
</footer>

<script src="/js/hamburgerToggleOffers.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>