<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a shisha </title>
</head>
<body>
<a href="/shishas/shishasManagement">Go back to shishas management page</a>
<div align="center">
    <h1>Add a shisha below</h1>
    <br/>
    <form action="#" th:action="@{/shishas/saveShisha}" th:object="${shisha}" method="post">
        <table border="0" cellpadding="10">
            <tr>
                <td>Shisha's name:</td>
                <td><input type="text" th:field="*{shishaName}"/></td>
            </tr>
            <tr>
                <td>Shisha's size </td>
                <td><input type="text" th:field="*{size}"/></td>
            </tr>
            <tr>
                <td>Shisha's hose count </td>
                <td><input type="text" th:field="*{hoseCount}"/></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Save shisha</button></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>