<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a client </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
<br>
<a class="btn btn-primary" style="margin-left:25px;" href="/clients/clientsManagement">Go back to clients management
    page</a>
<div align="center">
    <h1>Add a client below</h1>
    <br/>
    <form action="#" th:action="@{/clients/saveClient}" th:object="${client}" method="post">
        <table border="0" cellpadding="10">
            <tr>
                <td>Client's first name:</td>
                <td><input type="text" th:field="*{firstName}" placeholder="first name"/></td>
                <td th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="item fieldinvalid">
                    firstName error
                </td>
            </tr>
            <tr>
                <td>Client's last name:</td>
                <td><input type="text" th:field="*{lastName}"/></td>
                <td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="">lastName error</td>
            </tr>
            <td>Client's CNP:</td>
            <td><input type="text" th:field="*{CNP}"/></td>
            <td th:if="${#fields.hasErrors('CNP')}" th:errors="*{CNP}" class="">CNP error</td>

            <tr>
                <td>Client's address:</td>
                <td><input type="text" th:field="*{address}"/></td>
                <td th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="">address error</td>
            </tr>
            <tr>
                <td>Client's phone number:</td>
                <td><input type="text" th:field="*{phoneNumber}"/></td>
                <td th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="">phoneNumber error
                </td>

            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit" class="btn btn-success">Save client</button>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>