<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update a flavour </title>
</head>
<body>
<div align="center">
    <h1>Update the flavour's information below</h1>
    <br/>
    <form action="#" th:action="@{/flavours/saveFlavour}" th:object="${flavour}" method="post">
        <table border="0" cellpadding="10">
            <tr>
                <td>Flavour's Id:</td>
                <td><input type="text" th:field="*{idFlavour}" readonly="readonly"/></td>
            </tr>
            <tr>
                <td>Flavour's name:</td>
                <td><input type="text" th:field="*{flavourName}"/></td>
            </tr>
            <tr>
                <td>Flavour's amount:</td>
                <td><input type="text" th:field="*{amount}"/></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Update flavour</button></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>